* {
  box-sizing: border-box;
  margin: 0;
  /*border: 1px solid red;*/
}

:root {
  --main-col: rgba(32, 32, 32, 1);
  --main-col-lighter: rgba(38, 38, 38, 1);
  --contrast-col: rgba(222, 222, 222, 1);
  --accent-col: rgba(232, 166, 52, 1);
  --loading-col: var(--accent-col);
  --success-col: rgba(38, 215, 79, 1);
  --failure-col: rgba(229, 37, 37, 1);
}

html {
  background-color: var(--main-col);
}

@font-face {
  src: url(../fonts/Rubik.ttf);
  font-family: 'Rubik';
  font-style: normal;
}

@font-face {
  src: url(../fonts/Cygre.ttf);
  font-family: 'Cygre';
  font-style: normal;
}

@font-face {
  src: url("../fonts/Cruinn Thin.ttf");
  font-family: 'Cruinn';
  font-style: normal;
}

@font-face {
  src: url("../fonts/Hero.ttf");
  font-family: 'Hero';
  font-style: normal;
}

@font-face {
  src: url("../fonts/Geologica.ttf");
  font-family: 'Geologica';
  font-style: normal;
}

@font-face {
  src: url("../fonts/Noah.ttf");
  font-family: 'Noah';
  font-style: normal;
}

.page {
  width: 100%;
  height: 100%;
}

.svg-container {
  position: absolute;
  width: 100%;
  z-index: -1;
}

.bg-line {
  fill: var(--main-col-lighter);
}

.centered {
  margin: auto;
}

.content__title {
  text-align: center;
  font-family: "Rubik", serif;
  font-weight: 400;
  color: var(--contrast-col);
  text-shadow: 4px 4px 5px rgba(0, 0, 0, 1.0);
  margin-bottom: 50px;
}

.header {
  width: 100%;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header__title {
  font-family: "Rubik", serif;
  font-weight: 600;
  color: var(--contrast-col);
  text-shadow: 4px 4px 5px rgba(0, 0, 0, 1.0);
}

.menu__container {
  z-index: 3;
  position: sticky;
  top: 0;
  display: flex;
  width: 96%;
  height: fit-content;
  margin: 100px auto 20px;
  justify-content: space-evenly;
  align-items: stretch;
  padding: 10px 0 0;
  flex-wrap: wrap;
  background: var(--main-col);
}

.menu__item-container {
  height: 70px;
  display: flex;
  flex: 1 1 0;
  width: 200px;
  min-width: 155px;
  text-align: center;
  border: 2px solid var(--main-col-lighter);
  background-color: var(--contrast-col);
  border-radius: 15px;
  margin: 3px;
}

.menu__item-container:hover {
  background-color: var(--accent-col);
  cursor: pointer;
}

.menu__item-text-wrapper {
  width: 100%;
  height: 100%;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu__item-text {
  width: 100%;
  margin: auto;
  font-family: "Noah", serif;
  font-weight: 400;
  font-size: 25px;
  color: var(--main-col);
  text-align: center;
  text-shadow: 1px 1px 10px rgba(0, 0, 0, 0.4);
  text-decoration: none;
}

.divider {
  margin: 0 auto 0;
  width: 96%;
  height: 2px;
  background-color: var(--contrast-col);
  padding: 0;
  border: 0;
}

.popup-text-container {
  height: 240px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.popup-text-container_with-header {
  padding-top: 40px;
}

.popup-text {
  display: flex;
  font-family: "Noah", serif;
  font-weight: 400;
  color: var(--contrast-col);
  text-align: center;
  text-shadow: 3px 3px 10px rgba(0, 0, 0, 1.0);
  margin-bottom: 10px;
}

.popup-title {
  position: absolute;
  text-align: center;
  font-family: "Rubik", serif;
  font-weight: 400;
  width: 100%;
  color: var(--contrast-col);
  text-shadow: 4px 4px 5px rgba(0, 0, 0, 1.0);
  margin: 15px 15px 30px 15px;
}

.active {
  visibility: visible;
  /*display: flex;*/
  z-index: 5;
}

.inactive {
  /*display: none;*/
  visibility: hidden;
  z-index: -1;
}

.popup__background {
  backdrop-filter: blur(5px);
  position: fixed;
  width: 100%;
  height: 100%;
  display: flex;
}

.popup-container {
  position: fixed;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: row;
}

.gallery-popup__button {
  /*background-color: white;*/
  width: 100px;
  height: 100px;
}

.gallery-popup__button:hover {
  cursor: pointer;
}

.button__img {
  width: 100%;
  height: 100%;
}

.form-popup-container, .timed-popup-container, .info-popup-container{
  transform: scale(0);
  transition: transform 0.5s ease-in;
}

.form-body__label {
  font-size: 28px;
  font-family: "Noah", serif;
  font-weight: 400;
  color: var(--contrast-col);
  text-align: left;
  text-shadow: 3px 3px 10px rgba(0, 0, 0, 1.0);
  margin: 20px 20px 0 20px;
}

.form-body__input-field {
  height: 30px;
  background: rgba(0, 0, 0, 0);
  border: 2px solid var(--main-col-lighter);
  font-size: 20px;
  margin: 10px 20px 20px 20px;
  color: var(--contrast-col);
  padding: 3px;
}

.form-body__input-field[type="tel"] {
  width: 130px;
}

.form-body__input-field[type="email"] {
  width: 300px;
}

.form-body__button {
  display: block;
  height: 30px;
  width: fit-content;
  font-size: 20px;
  font-family: "Noah", serif;
  font-weight: 400;
  background: rgba(0, 0, 0, 0);
  border: 2px solid var(--main-col-lighter);
  margin: 10px 20px 20px 20px;
  color: var(--contrast-col);
  padding: 0 2px 2px 2px;
}

.form-body__button:hover:not([disabled]) {
  cursor: pointer;
  background: var(--contrast-col);
  border: 2px solid var(--main-col);
  color: var(--main-col);
}

.button-loading {
  background: var(--accent-col);
  color: var(--main-col);
}

.button-success {
  background: var(--success-col);
  color: var(--main-col);
}

.button-failure {
  background: var(--failure-col);
  color: var(--main-col);
}

.popup-body_with-text {
  position: fixed;
  margin: auto;
  width: 70%;
  height: fit-content;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: var(--main-col);
  border: 5px solid var(--contrast-col);
  border-radius: 15px;
  min-width: 320px;
  padding: 5px;
}

textarea.form-body__input-field {
  min-height: 100px;
  min-width: 300px;
  max-width: 95%;
}

.form-body__input-field:focus {
  outline: 1px solid var(--contrast-col);
}

.intro {
  margin: 150px auto 150px;
}

.intro__container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: var(--contrast-col);
  width: fit-content;
  padding: 60px 60px;
  margin: auto;
  border-radius: 30px;
  box-shadow: 2px 2px 10px 3px rgba(0, 0, 0, 1.0);
}

.intro__text {
  font-family: "Geologica", serif;
  font-weight: 100;
  color: var(--main-col);
  text-align: center;
}

.intro__image {
  margin-bottom: 20px;
}

.about {
  margin: 150px auto 150px;
}

.about__container {
  width: 36%;
  min-width: 320px;
}

.paragraph-container {
  display: flex;
  margin: auto;
  padding: 0 30px 0;
  border-left: 2px solid var(--contrast-col);
  border-right: 2px solid var(--contrast-col);
}

.paragraph-text {
  font-family: "Noah", serif;
  font-weight: 400;
  color: var(--contrast-col);
  text-align: center;
  text-shadow: 3px 3px 10px rgba(0, 0, 0, 1.0);
}

.link {
  color: inherit;
}

.link:hover {
  color: var(--accent-col);
}

.skills__container {
  margin: 100px auto 0;
  width: 70%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.card {
  border-radius: 25px;
  box-shadow: 2px 2px 10px 3px rgba(0, 0, 0, 1.0);
  background-color: var(--contrast-col);
}

.skills__card {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 350px;
  height: fit-content;
  padding: 10px 30px;
  margin: 20px 10px 20px;
}

.caption {
  font-family: "Noah", serif;
  font-weight: 500;
  color: var(--main-col);
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.4);
}

.skills__caption {
  text-align: center;
  margin: 10px 0 25px 0;
  width: 98%;
}

.portfolio {
  margin: 200px auto 0;
}

.portfolio__container {
  margin: 100px auto 0;
  width: 70%;
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
}

.portfolio__card {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: fit-content;
  margin: 20px 0 20px;
}

.education {
  margin: 200px auto 0;
}

.education__container {
  width: 45%;
  min-width: 280px;
  margin: 100px auto 100px;
}

.gallery__container {
  width: 90%;
  min-width: 280px;
  margin: 100px auto 100px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.gallery__picture {
  margin: 10px 0 10px;
  padding: 10px 20px;
  transition: transform 0.5s ease-in-out;
  border-radius: 30px;
}

.gallery__picture:hover {
  transform: scale(1.02);
  transition: transform 0.5s ease-in-out;
}

.picture_wrapper:hover {
  cursor: pointer;
}

.footer {
  height: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.footer__container {
  height: 100%;
  width: 30%;
  margin: 20px auto 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.footer__card {
  height: 100%;
  width: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer__caption {
  color: var(--contrast-col);
  font-family: "Noah", serif;
  font-weight: 400;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.4);
}

.form-link:hover {
  cursor: pointer;
  color: var(--accent-col);
}

@media (min-width: 200px) {
  .content__title {
    font-size: 48px;
  }
  .header__title {
    font-size: 72px;
  }
  .divider_thick {
    height: 3px;
  }
  .menu__container {
    position: relative;
  }
  .popup-text {
    font-size: 22px;
  }
  .popup-title {
    font-size: 30px;
  }
  .gallery-popup-container {
    flex-direction: column;
  }
  .gallery-popup__picture {
    height: 50%;
  }
  .button_prev {
    transform: rotate(-90deg);
  }

  .button_next {
    transform: rotate(90deg);
  }
  .intro__image {
    width: 250px;
    height: 250px;
  }
  .intro__text {
    font-size: 28px;
  }
  .paragraph-text {
    font-size: 24px;
  }
  .portfolio__card {
    flex-direction: column;
    padding: 15px 15px;
  }
  .portfolio__image {
    width: 160px;
    height: 160px;
  }
  .portfolio__caption {
    text-align: center;
    padding: 8px 0 8px 0;
  }

  .caption {
    font-size: 24px;
  }

  .skills__image {
    width: 160px;
    height: 160px;
  }

  .gallery__container {
    flex-direction: column;
  }

  .gallery__picture {
    width: 300px;
  }

  .social-icon {
    width: 50px;
    height: 50px;
  }
  .footer__caption {
    font-size: 18px;
  }
}

@media (min-width: 730px) {
  .content__title {
    font-size: 64px;
  }
  .header__title {
    font-size: 96px;
  }
  .divider_thick {
    height: 5px;
  }
  .menu__container {
    position: sticky;
  }
  .popup-text {
    font-size: 28px;
  }
  .popup-title {
    font-size: 35px;
  }
  .gallery-popup-container {
    flex-direction: row;
  }
  .gallery-popup__picture {
    height: 80%;
  }
  .button_prev {
    transform: rotate(180deg);
  }

  .button_next {
    transform: rotate(0deg);
  }
  .intro__image {
    width: 350px;
    height: 350px;
  }
  .intro__text {
    font-size: 36px;
  }
  .paragraph-text {
    font-size: 30px;
  }
  .portfolio__card {
    flex-direction: row;
    padding: 20px 30px;
  }
  .portfolio__image {
    width: 250px;
    height: 250px;
  }
  .portfolio__caption {
    text-align: start;
    padding: 10px 30px 10px 30px;
  }

  .caption {
    font-size: 28px;
  }

  .skills__image {
    width: 280px;
    height: 280px;
  }

  .gallery__container {
    flex-direction: row;
  }

  .gallery__picture {
    width: 350px;
  }

  .social-icon {
    width: 70px;
    height: 70px;
  }
  .footer__caption {
    font-size: 24px;
  }
}